# An intro to using Python in Jupyter notebooks for data science
## Common tasks and grammar of data manipulation

## Overview

**Notebook purpose**: This notebook will illustrate some data manipulation tasks, and show how the grammar of data manipulation \[select, filter, mutate, summarise, arrange\] is achieved through Pandas and Python.  Keep in mind that there are *many* ways to achieve a certain grammar operation, and the syntax in this notebook absolutely does not demonstrate the exhaustive set.  

**Data**: In this notebook, we demonstrate a data science task on the planets dataset from Seaborn using Pandas.  Pandas is a popular tool in Python for analyzing data. 

**Sources**:  This notebook was heavily influenced by the Python Data Science Handbook by Jake VanderPlas.  Some comments within this notebook are direct quotes from his notebooks.

Similarly to R, we start our processing by importing the packages that we need.  We will use pandas for our processing, which provides functionality for manipulating tabular data and other data types.

In [ ]:
#import statements
import pandas as pd
import numpy as np
import seaborn as sns

## Loading and viewing the data

In [ ]:
#Load data
planets = sns.load_dataset('planets')

Here, we load the data directly from `seaborn`.  However data is regularly distributed in the form of .csv files.  We look at an example of this below in the section on joins.

In [ ]:
# Get a preview of the data

In [ ]:
# How large is this data?

In [ ]:
#General info about the data

In [ ]:
#Abridged version of info

In [ ]:
#Stats about the dataset (aggregation)

In [ ]:
#Count na values

In [ ]:
#Column names

In [ ]:
#Get the value counts for the categorical data

In [ ]:
# Look at the value counts for all of the columns: categorical histogram

## Handling missing values

In [ ]:
#Simplest approach if datset large enough: drop the missing values
#Note: avoid performing operations on subsets of a data frame

print('# of rows of returned (test) data frame: ', len(test))
print('# of rows of original (df) data frame: ', len(planets))

#### Filling missing values

This is actually a lot of missing data - about half of the dataset.  Here, you'd also want to look at if there's something in particular that's missing to understand if it will throw off your analysis.  Is it a particular year that is missing?  For demonstration purposes, let's just fill in this value with the mean value (mean inputation).  We can do this using one of the parameters of the `fillna` method.

In [ ]:
#fill with the mean

In [ ]:
#check to see if there are any null values

**Question.**  Take a look at the parameter list for `.fillna`.  You can do this by typing `pd.DataFrame.fillna?`  There's a parameter there called `inplace`.  What do you think that this does?  Do you think you should use it?  How does this compare to R?

#### Dropping missing values
We could also just drop the missing data.  We can do that using the `dropna` method.  Since we'll be dropping rows, this will actually leave holes in our index.  We could leave the index as such, or we could also renumber the index.  We can reindex using the `reset_index` method, where the `drop` parameter prevents the old index from being added to the dataframe.

In [ ]:
#drop missing values and reindex

print('# of rows of original (df) data frame: ', len(drop_planets))

In [ ]:
#check to see if there are any null values

## Select: choose data from the dataframe
We've already learned how to select columns from the data frame!

**Question.** What operators can we use in order to select columns from the dataframe?

In [ ]:
#Obtain the method column

#### Try it yourself!
1. Get everything other than the orbital period column and display the first 10 rows
2. Use .iloc to retrieve the last 2 columns
3. Use .loc to get the `orbital_period` through `distance` slices.  Use .iloc to do the same.

In [ ]:
#Answer to 1

In [ ]:
#Answer to 2

In [ ]:
#Answer to 3

## Filter: choose rows of data based on some criteria

We've already learned how to filter rows based on a certain criteria!

**Question.**  What methods do we have to filter rows?

In [ ]:
# What entries have mass > 10?

In [ ]:
# For the entries with orbital periods > 1000, what years were they discovered?

## Mutate: Change or create new columns of data
We can do this using our known select/filter commands!

In [ ]:
# Create a new decade column using dictionary-like indexing

In [ ]:
#Create a new column orbital_yr (orbital_period is currently assumed to be days), which expresses the orbital period in earth years.

### The assign method
You can use dynamically created columns using `assign` to create other columns for `dplyr`-like piping processing in Pandas 0.23.0. You can then use `assign`ed columns in later processing steps.  You will need to use a lambda function in order to achieve this.  It's an on-the-fly simple function that allows you to do computation.  Let's see how we could do this below!

We can also use `drop` to drop columns that we don't want.  Let's see how below.

In [ ]:
#drop columns we just created

In [ ]:
# Use assign to create the decade column above.

In [ ]:
# Let's drop again to see the effect of chaining

In [ ]:
# Now, let's try chaining to make a decade and a century column

**Try it yourself!**
1. Mutate a new column called `mass_rel`, which will calculate a planet's mass relative to earth's.  Assuming the scale of these values, you can assume the mass of the earth to be 5.97.  Try this using assign.
2. Mutate a new column called `orbital_yr` using `assign`.  Using this new column, create a new column `orbital_weeks`, which converts `orbital_yr` to weeks.  (**Hint**:  There are 52 weeks in a year).
3. Mutate two columns using assign.  The first will be called `x10`, which will multiply the `number` column by 10.  The second will be `dist_mi`, which will convert `distance` from astronomical units to miles.  Use the multiplier 93 for simplicity.

In [ ]:
#Answer to 1

In [ ]:
#Answer to 2

In [ ]:
#Answer to 3

## Putting things together: transform and apply
The `transform` and `apply` methods work on the specified elements of a Series or DataFrame.  A transformation can return some transformed version of the full data to recombine.  For such a transformation, the output is the same shape as the input.

The ``apply()`` method lets you apply an arbitrary function to the group results.
The function should take a ``DataFrame``, and return either a Pandas object (e.g., ``DataFrame``, ``Series``) or a scalar; the combine operation will be tailored to the type of output returned.

In [ ]:
# Create a new column, 'mass_std' which normalizes the the mass of the planets

In [ ]:
#Create a new column method_min which labels everything other than Radial Velocity, Transit, Imaging, and Microlensing as 'Other'

In [ ]:
#check to see if things worked how you expected

## Groupby and summarize: group items by some desired similarity
As with R, groupby alone doesn't do much; however, combined with summarizing functionality, it can be very powerful.  Recall that summarizing functions reduce the dimensionality of the data down to one or more values.  Let's see how this works in Python.

In [ ]:
#How many planets are there for each method_min type?


#We can also return a particular column

In [ ]:
#What is the mean distance for all of the planet systems (given by the `number` column)

You can also group by multiple keys by passing in a list of keys:

In [ ]:
#group by multiple keys

### The `agg` function
You can use the `agg` function most aptly performs the `summarise` functionality.  You can use this function to perform several operations on different rows/columns of the data.  Using `agg`, you can pass in a list of the operations you want to do on the columns using a string, pandas, or numpy function as below:

In [ ]:
#Find the max, median, and min of mass and distance

You can also apply specific aggregation functions on specific columns.  You can do this by using the column names as keys and the functions (as strings) as values.

In [ ]:
# Find the total counts of the numbers column, the mean of the distance column

**Try it yourself!!**
1. How many planets are there for each of the raw `method`s?
2. What is the mean and max orbital period for each method for each planet system (`number` variable)
3. **Bonus**: What are the maximum masses for planets with a distance of >1000 and <1000?

In [ ]:
#Answer to 1

In [ ]:
#Answer to 2

In [ ]:
#Answer to 3

## Arrange: change the ordering of the data

In [ ]:
#Sort data according to age

In [ ]:
#Sort data according to number, ascending

In [ ]:
#Sort data according to mass and distance

In [ ]:
#Sort data according to mass - ascending and distance - descending

**Try it yourself!**
1. Sort rows by `year` and `distance`
2. Sort rows by `orbital_weeks` ascending and `dist_mi` descending

In [ ]:
#Answer 1

In [ ]:
#Answer 2

# Join: Put datasets together based on matching keys

There are many ways to perform joins in python.  One way is through the `merge` method.  The `concat` method is extremely valuable when there are several dataframes to be joined.  An astronomers csv file is provided which contains an astronomer corresponding to many years.  This will be used during the join.

In [ ]:
#load the astronomers dataset locally, called `astronomers.csv`

In [ ]:
#Perform an inner join on the data using the 'year' column as the key

In [ ]:
#Can also perform an outer join to see if anything was missed

## Plotting examples

In [ ]:
#create scatter plot using pandas

In [ ]:
#create pairplot using seaborn

# What have we learned?
1. General functions to get an understanding of the dataset
2. Select functions
3. Filter functions
4. Mutate functions
    - `Assign`
5. `Transform` and `Apply`
5. Groupby and summarise functions
6. Aggregation functions
7. Joining functions
8. Plotting functions

Good luck with your data science endeavors using Python!